.ship {
	background-color: blue;
	height: 100%;
	position: absolute;

	&__container {
		height: 30px;
		width: 30px;

		position: absolute;
		top: -5%;
		left: 50%;

		translate: -50% 0;
		transform-origin: 50% 168px;
	}
}
